<div style="text-align:center; margin-top:120px;">
  <h2>退会処理が正常に終了しました</h2>
  <p>5秒後にトップページへ移動します...</p>

  <script>
    setTimeout(function() {
      window.location.href = "<%= root_path %>";
    }, 5000);
  </script>
</div>
