    <p><strong>ヒトリでふらっと飲みに行く時間が、何よりも楽しみな酒飲みのためのサイト</strong></p>

    <p>アナタのいつものお店をぜひご紹介ください！  
    また同じ時間に近くで飲み友がいれば、軽く一杯ご一緒するなんていう展開も嬉しかったりします。  
    完全に孤独じゃない、でも無理に誰かと会うわけでもない、  
    そんな「ゆるいつながり」のある楽しみ方を提案します！</p>

    <p>自分にとっての「行きつけ」が増えていく感覚と、ゆるく人とつながれる感覚。  
    その両方が手に入るような場所として、ヒトリ飲みの時間がより豊かにしましょう。</p>